.banner {
  height: 60vh;
  position: relative;
  background: url("https://cdn.bisnow.net/fit?height=489&type=jpeg&url=https%3A%2F%2Fs3.amazonaws.com%2Fcdn.bisnow.net%2Fcontent%2Fimages%2F2017%2F05%2F59151d0978bbf_https_press_atairbnb_com_app_uploads_2016_12_midtown_4.jpeg&width=717&sign=FeltIPi9cOWA36nVIeDvZxwgtiCZrpUyMRdvyZviTUI");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__info {
  background-color: #000000;
  color: #fff;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}
.banner__info > button {
  color: #fff;
  background-color: #ff7779;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600px;
}
.banner__info > h5 {
  margin-top: 10px;
}
.banner__info > button:hover {
  color: #ff7779;
  background-color: #fff;
}
.banner__search {
  display: flex;
  flex-direction: column;
}
.banner__searchButton {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
